<link rel="stylesheet" type="text/css" href="snippet.css" />

<div class="buttons-selects-checkboxes"></div>

<template name="buttons-selects-checkboxes">
    <div class="wrapper" data-id="">
        <h2>Button</h2>
        <div class="example">
            <div class="entry">
                <button type="button" data-e="click:toggleElement" class="input">Make semi-transparent</button>
                <br>
                <button type="button" data-e="click:makeRedElement" class="input">Make red</button>
            </div>
            <div class="result {hiddenByButton} {coloredByButton}">This element has following classes assigned: {hiddenByButton}
                {coloredByButton} - done.</div>
        </div>

        <h2>Checkboxes</h2>
        <div class="example">
            <div class="entry">
                <label><input type="checkbox" name="checkbox" value="oranges"/> oranges</label>
                <label><input type="checkbox" name="checkbox" value="bananas"/> bananas</label>
                <label><input type="checkbox" name="checkbox" value="plumbs"/> plumbs</label>
                <label><input type="checkbox" name="checkbox" value="pears"/> pears</label>
            </div>
            <div class="result">{checkbox}</div>
        </div>

        <h2>Radio buttons</h2>
        <div class="example">
            <div class="entry">
                <label><input type="radio" name="radio" value="oranges" /> oranges</label>
                <label><input type="radio" name="radio" value="bananas" /> bananas</label>
                <label><input type="radio" name="radio" value="plumbs" /> plumbs</label>
                <label><input type="radio" name="radio" value="pears" /> pears</label>
            </div>
            <div class="result">{radio}</div>
        </div>

        <h2>Single checkbox button</h2>
        <div class="example">
            <div class="entry">
                <label><input type="checkbox" name="singlebox" value="1"/> boolean checkbox</label>
                <br>
                <label><input type="checkbox" name="arraybox" value="1" /> array checkbox [1]</label>
                <label><input type="checkbox" name="arraybox" value="2" /> array checkbox [2]</label>
            </div>
            <div class="result">
                <div>{singlebox}</div>
                <div>[{arraybox}]</div>
            </div>
        </div>

        <h2>Single select</h2>
        <div class="example">
            <div class="entry">
                <select name="select.single" value="{select.single}" class="input" {select.attr}>
                    <option value="1">oranges</option>
                    <option value="2">bananas</option>
                    <option value="3">plumbs</option>
                    <option value="4">pears</option>
                </select>
                <br>
                <label><input type="checkbox" data-e="change:toggleSingleSelectDisabled" />disable select</label>
            </div>
            <div class="result">{select.single}</div>
        </div>

        <h2>Multiple select</h2>
        <div class="example">
            <div class="entry">
                <select name="select.multiple" value="{select.multiple}" multiple="multiple" class="input">
                    <option value="1">oranges</option>
                    <option value="2">bananas</option>
                    <option value="3">plumbs</option>
                    <option value="4">pears</option>
                </select>
            </div>
            <div class="result">{select.multiple}</div>
        </div>

        <hr>

        <h2>Single select</h2>
        <div class="example">
            <div class="entry">
                <em>Here should be <code>[repeatedElement] input (rendered below)</code>.</em>
                <div>{repeatedElement}</div>
                <select name="select.one" value="{select.one}" class="input">{options}</select>
                <br>
                <select name="select.two" value="{select.two}" class="input" multiple>{options}</select>
                <div>{repeatedElement}</div>

            </div>
            <div class="result">
                <div><span>{repeatedElement.value}</span> <em>... this won't be updated until <code>app.renderer.update()</code>
                        is called</em></div>
                <div>first select: {selectOne}</div>
                <div>second select: {selectTwo}</div>
            </div>
        </div>
        <button data-e="click:props2console">Write props to console</button>
    </div>
</template>

<template name="repeatedElement">
    <div class="element" data-id="">
        <input type="text" name="value" value="{value}" class="input"/>
        <br>
        <span>{value}</span>
    </div>
</template>

<script type="module">
    import {Flw, Elem} from '/flw.js';

    const snippet = new Flw('.buttons-selects-checkboxes');
    const bsch = new Elem('buttons-selects-checkboxes', {
        options: [
            {v: 1, n: 'banana'},
            {v: 2, n: 'tangerine'},
            {v: 3, n: 'tomato'},
            {v: 4, n: 'apple'},
            {v: 5, n: 'melon'},
        ].map((x) => new Elem('<option value="{v}">{n}</option>', x, false)),

        repeatedElement: new Elem('repeatedElement', {value: 'Lorem ipsum'}),

        hiddenByButton: '',

        singlebox: false,
        arraybox: [],
        checkbox: [],
        radio: null,
        select: {
            one: 1,
            two: 1,
            single: null,
            multiple: null,
            attr: ''
        }
    }, {
        makeRedElement: (ev, me) => {
            let coloredByButton = bsch.get('coloredByButton');
            bsch.set('coloredByButton', coloredByButton ? '' : 'result--colored-red');
        },

        toggleElement: (ev, me) => {
            let hiddenByButton = bsch.get('hiddenByButton');
            bsch.set('hiddenByButton', hiddenByButton ? '' : 'result--hidden');
        },

        toggleSingleSelectDisabled: (ev, me) => {
            let attr = ev.target.checked ? 'disabled="true"' : '';
            me.set('select.attr', attr);
        },

        props2console: (ev, me) => {
            console.log(me.props);

            console.log(me.has('singlebox'));
        }
    });
    
    snippet.addElem(bsch);
    snippet.run();
</script>