<link rel="stylesheet" type="text/css" href="snippet.css" />

<div class="dynamic-content"></div>

<template name="dynamic-content">
    <div class="wrapper" data-id="">
        <h2>No template content</h2>
        <div class="example">
            <div class="entry">
                <p>Generates a Node directly from the given string.</p>
            </div>
            <div class="result">
                <span>{generated.node}</span>
                <span>{generated.fn}</span>
            </div>
        </div>

        <h2>Conditional rendering</h2>
        <div class="example">
            <div class="entry">
                <label>
                    <input type="checkbox" name="conditional" value="1" />
                    Check to display conditional content.
                </label>
            </div>
            <div class="result">
                <div>I am always displayed.</div>
                <div data-if="conditional">
                    I am displayed only if the checkbox is checked.
                </div>
            </div>
        </div>

        <h2>Dynamically created list</h2>
        <div class="example">
            <div class="entry">
                <button data-e="click:addElement" class="input">Add element</button>
            </div>
            <div class="result">
                <span>Here is the list. Click on items to remove them.</span>
                <ul class="result__ul">{listItems}</ul>
            </div>
        </div>


        <h2>Nested object props</h2>
        <div class="example">
            <div class="entry">
                <input type="text" name="parentValue" value="{parentValue}" class="input" />
                <br>
                <input type="text" name="childElement.childValue" value="{childElement.childValue}" class="input" />
            </div>
            <div class="result">
                <p>I am parent Elem with props:</p>
                <blockquote>{parentValue}</blockquote>
                {childElement}
            </div>
        </div>
    </div>
</template>

<template name="listItem">
    <li class="list-item" data-id="">
        <span>{myId}</span>
        <select name="nestedSelect" value="{nestedSelect}">
            <option value="">-choose-</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="4">Four</option>
            <option value="5">Five</option>
        </select>
        <button data-e="click:removeMe">&times;</button>
    </li>
</template>

<template name="childElement">
    <div class="child-element" data-id="">
        <p>Child Elem props value:</p>
        <blockquote>{childValue}</blockquote>
    </div>
</template>

<script type="module">
    import {Flw, Elem} from '/flw.js';

    const snippet = new Flw('.dynamic-content');
    const dc = new Elem('dynamic-content', {
        listItems: [],
        parentValue: 'Reasonable parent sentence.',

        generated: {
            node: new Elem(
                '<div style="color: green">\
                    <span>This text is in a DIV element generated dynamically.</span>\
                    <br>\
                    <span>{text}</span>\
                </div>',
                {text: 'Elem props work also from inline.'}),
            fn: () => ['This', 'sentence', 'is', 'completely', 'generated', 'via', 'function', 'call.'].map((x) => {
                    const el = new Elem(
                        '<span>{tag} <span>',
                        {tag: x},
                        false
                    );
                    return el.renderer.render();
                })
        },

        conditional: 0,
    }, {
        addElement: (ev, me) => {
            let listItems = dc.get('listItems');
            let newItem = new Elem('listItem', {}, {
                removeMe: (ev, me) => {
                    let listItems = dc.get('listItems');

                    listItems = listItems.reduce((x, y) => {
                        if (y.getId() != me.getId())
                            x.push(y);
                        return x;
                    }, []);

                    dc.set('listItems', listItems);
                }
            });

            newItem.props = {
                nestedSelect: null,
                myId: '...' + newItem.getId().substring(-17)
            }

            listItems.push(newItem);

            dc.set('listItems', listItems);
        }
    });
    
    snippet.addElem(dc);
    snippet.run();

    dc.set('childElement', new Elem('childElement', {
        childValue: 'Some childish text, yay!',
    }));
</script>