<link rel="stylesheet" type="text/css" href="snippet.css" />

<div class="event-listeners"></div>

<template name="event-listeners">
    <div class="wrapper" data-id="">
        <h2>Keeping track of event listerers</h2>
        <div class="example">
            <div class="entry">
                <p>Event listeners react when Elem objects are swapped in list.</p><button data-e="click:swapElements">swap
                    elements</button>
            </div>
            <div class="result">{swappableElements}</div>
        </div>
    </div>
</template>

<template name="swappableElement"><div class="swappable-element" data-id=""><button data-e="click:colorize">colorize</button> <span style="color:{color}">{text}</span></div></template>

<script type="module">
    import {Flw, Elem} from '/flw.js';

    const snippet = new Flw('.event-listeners');

    snippet.addElem(new Elem('event-listeners', {
        swappableElements: ['Lorem ipsum...', '...dolor sit amet.'].map((x, i) => {
            const e = new Elem('swappableElement', {
                color: 'black',
                text: x
            }, {
                colorize: (ev, me) => {
                    me.set('color', 'black' == me.get('color') ? 'blue' : 'black');
                }
            });

            e.setId('elem_' + i);

            return e;
        })
    }, {
        swapElements: (ev, me) => {
            let swp = me.get('swappableElements');
            let el = swp.shift(swp);
            swp.push(el);
            me.set('swappableElements', swp);
        }
    }));
    snippet.run();
</script>