<link rel="stylesheet" type="text/css" href="snippet.css" />

<div class="simple-inputs"></div>

<template name="simple-inputs">
    <div class="wrapper" data-id="">
        <h2>Inline texts</h2>
        <div class="example">
            <div class="entry">
            </div>
            <div class="result" style="transform: rotate({inline.0}deg); border: 1px {inline.1} #fa5;">Lorem {inline.2} dolor
                {inline.3} amet.</div>
        </div>
        <h2>Text input</h2>
        <div class="example">
            <div class="entry">
                <input type="text" name="input.text" value="{input.text}" class="input">
            </div>
            <div class="result">{input.text}</div>
        </div>

        <h2>Number input</h2>
        <div class="example">
            <div class="entry">
                <input type="number" name="input.number" value="{input.number}" min="1" step="1" max="10" class="input">
            </div>
            <div class="result">{input.number}</div>
        </div>

        <h2>Tel input</h2>
        <div class="example">
            <div class="entry">
                <input type="tel" name="input.tel" value="{input.tel}" class="input">
            </div>
            <div class="result">{input.tel}</div>
        </div>

        <h2>Email input</h2>
        <div class="example">
            <div class="entry">
                <input type="email" name="input.email" value="{input.email}" class="input">
            </div>
            <div class="result">{input.email}</div>
        </div>

        <h2>URL input</h2>
        <div class="example">
            <div class="entry">
                <input type="url" name="input.url" value="{input.url}" class="input">
            </div>
            <div class="result">{input.url}</div>
        </div>

        <h2>Date input</h2>
        <div class="example">
            <div class="entry">
                <input type="date" name="input.date" value="{input.date}" class="input">
            </div>
            <div class="result">{input.date}</div>
        </div>

        <h2>Month input</h2>
        <div class="example">
            <div class="entry">
                <input type="month" name="input.month" value="{input.month}" class="input">
            </div>
            <div class="result">{input.month}</div>
        </div>

        <h2>Week input</h2>
        <div class="example">
            <div class="entry">
                <input type="week" name="input.week" value="{input.week}" class="input">
            </div>
            <div class="result">{input.week}</div>
        </div>

        <h2>Time input</h2>
        <div class="example">
            <div class="entry">
                <input type="time" name="input.time" value="{input.time}" class="input">
            </div>
            <div class="result">{input.time}</div>
        </div>

        <h2>Datetime input</h2>
        <div class="example">
            <div class="entry">
                <input type="datetime-local" name="input.datetime" value="{input.datetime}" class="input">
            </div>
            <div class="result">{input.datetime}</div>
        </div>

        <h2>Color input</h2>
        <div class="example">
            <div class="entry">
                <input type="color" name="input.color" value="{input.color}" class="input">
            </div>
            <div class="result" style="color: {input.color};">{input.color}</div>
        </div>

        <h2>Range input</h2>
        <div class="example">
            <div class="entry">
                <input type="range" name="input.range" value="{input.range}" min="1" step="1" max="10" class="input">
            </div>
            <div class="result">{input.range}</div>
        </div>

        <h2>Multiple events handler</h2>
        <div class="example">
            <div class="entry">
                <input type="range" name="input.rangeMultiEvent" value="{input.rangeMultiEvent}" min="1" step="1" max="5"
                    class="input" data-e="keypress|change:multiEvent">
                <p>Target the range element and use mouse, arrows, or WSAD keys to change the range value.</p>
            </div>
            <div class="result">{input.rangeMultiEvent}</div>
        </div>

        <h2>Textarea</h2>
        <div class="example">
            <div class="entry">
                <textarea type="text" name="text">{text}</textarea>
            </div>
            <div class="result result--textarea">{text}</div>
        </div>
        <hr>
    </div>
</template>

<script type="module">
    import {Flw, Elem} from '/flw.js';

    Date.prototype.getWeek = function () {
        var onejan = new Date(this.getFullYear(), 0, 1);
        return Math.ceil((((this - onejan) / 86400000) + onejan.getDay() + 1) / 7);
    };

    const now = new Date();

    const dates = {
        date: [
            now.getFullYear(),
            ('0' + (now.getMonth()+1)).substring(-2),
            now.getDate()
        ].join('-'),
        month: [
            now.getFullYear(),
            ('0' + (now.getMonth()+1)).substring(-2)
        ].join('-'),
        time: [
            ('0' + (now.getHours()+1)).substring(-2),
            ('0' + (now.getMinutes()+1)).substring(-2),
            ('0' + (now.getSeconds()+1)).substring(-2)
        ].join(':'),
        week: now.getFullYear() + '-W' + now.getWeek()
    }

    const snippet = new Flw('.simple-inputs');
    
    snippet.addElem(new Elem('simple-inputs', {
        input: {
            text: 'Try to edit me',
            number: 8,
            tel: '+421911223344',
            email: 'name@domain.com',
            url: 'http://someurl.com',
            color: '#ffaa55',
            range: 3,
            rangeMultiEvent: 3,

            date: dates.date,
            month: dates.month,
            week: dates.week,
            time: dates.time,
            datetime: dates.date + 'T' + dates.time,
        },

        inline: [
            "6", "dashed",
            "ipsum", "sit"
        ],

        text: 'You can also edit text in textarea.',
    }, {
        multiEvent: (ev, me) => {
            if (ev instanceof KeyboardEvent) {
                let value = parseInt(me.get('input.rangeMultiEvent'));
                switch (ev.key) {
                    case 'a':
                    case 'A':
                    case 's':
                    case 'S':
                        value--;
                        break;

                    case 'w':
                    case 'W':
                    case 'd':
                    case 'D':
                        value++;
                        break;

                    default:
                        break;
                }

                me.set('input.rangeMultiEvent', value);
            }
            else {
                me.set('input.rangeMultiEvent', parseInt(ev.target.value));
            }
        }
    }));
    snippet.run();
</script>