.example {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.entry {
    display: inline-block;
    min-width: 15em;
}

.input {
    width: 15em;
}

.result {
    display: inline-block;
    min-width: 15em;
    min-height: 1em;
    margin-left: 1em;
    padding: 0.5em;
    background: #f0f0f0;
    vertical-align: top;

    transition: opacity 0.5s;
}

.result--textarea {
    height: 5em;
    vertical-align: top;
}

.result--hidden {
    opacity: 0.5
}

.result--colored-red {
    background: #ff4444;
}

.result__ul {
    padding: 0.2em 0.2em 0.2em 2em;
    background: #fff;
}

.result__ul .list-item {
    margin: 0.5em 0;
    cursor: pointer;
}

textarea {
    width: 15em;
    height: 5em;
    vertical-align: top;
}

blockquote {
    height: 2em;
    margin: 0;
    padding-left: 0.5em;
    line-height: 2em;
    border-left: 0.25em solid #404040;
}

em {
    color: #707070;
}

hr {
    border: 1px solid #aaa;
    border-bottom: none;
}

select {
    vertical-align: top;
}

textarea {
    width: 15em;
    height: 5em;
    vertical-align: top;
}

@media screen and (max-width: 640px) {
    .example {
        align-items: center;
        flex-flow: column;
    }

    .result {
        margin-top: 1rem;
        margin-left: 0rem;
    }
}
