body {
    padding: 0;
    margin: 0;
    background-color: #eee;
    line-height: 1.5em;
}
h1 {
    text-align: center;
}
.main {
    font-size: 1em;
    line-height: 1.2em;
    font-family: monospace;
    margin: 5em auto;
    padding: 1em;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
    max-width: 80%;
    background-color: #fff;
}

.frame {
    border: none;
    width: 100%;
}

.hidden {
    visibility: hidden;
    display: none;
}

.app__email:hover {
    cursor: pointer;
    text-decoration: underline;
}

.button-element {
    display: inline-block;
    padding: 0.5em;
    border: 1px solid #404040;
    transition: opacity 1s;
}

.child-element {
    margin: 0.5em 0;
    padding: 0.5em;
    background: rgba(0, 0, 0, 0.1);
}

h2 {
    line-height: 1.5rem;
}

.toucharea {
    width: 5rem;
    height: 5rem;
    border: 1px solid rgba(0, 0, 0, 0.8);
    background: rgba(0, 0, 0, 0.2);
    transform-origin: 50%, 50%;
}

dh {
    min-width: 6rem;
    float: left;
}

dh:after {
    content: ":";
}

@media screen and (min-width: 1280px) {
    .main {
        width: 50%;
    }
}
