<link rel="stylesheet" type="text/css" href="snippet.css" />

<div class="tables"></div>

<template name="tables">
    <div class="table" data-id="">
        

        <h2>Attribute data-content and table rendering</h2>
        <div class="example">
            <div class="entry">
                <p>You need to include the table itself via Elem as pre-entered table will break the wildcard tags.</p>
                <p>All the event listeneres and values are preserved. Click the buttons and change the number of rows.</p>

                <input type="range" min="0" max="6" name="table.range" value="{table.range}" data-e="input:setTableRows" />
                <p>rows: {table.range}</p>
            </div>
            <div class="result">
                <table data-content="{table.rows}"></table>
            </div>
        </div>
        <hr>
        <center>2023 &copy; <a href="https://jocho.sk" target="blank">jocho.sk</a></a></center>
    </div>
</template>

<template name="row">
    <tr data-id=""><td><button data-e="click:recolorValue">{column}</button></td><td style="color: {color};">{value}</td></tr>
</template>

<script type="module">
    import {Flw, Elem} from '/flw.js';

    const tableColors = ['darkgray', 'darkmagenta', 'darkcyan', 'darkred', 'darkslateblue', 'darkorange'];

    const tableRows = [
        {col: 'name', val: 'Harry Potter', color: tableColors[0]},
        {col: 'job', val: 'wizard', color: tableColors[1]},
        {col: 'sign', val: 'scar', color: tableColors[2]},
        {col: 'address', val: 'Privet Drive 4', color: tableColors[3]},
        {col: 'city', val: 'Surrey', color: tableColors[4]},
        {col: 'country', val: 'UK', color: tableColors[5]},
    ].reduce((res, row, idx) => {
        const el = new Elem('row', {
            column: row.col,
            value: row.val,
            color: row.color
        }, {
            recolorValue: (ev, me) => {
                const colorIndex = Math.floor(Math.random() * 6);
                me.set('color', tableColors[colorIndex]);
            }
        });
        el.setId('tableitem_' + idx);
        res.push(el);
        return res;
    }, []);

    const snippet = new Flw('.tables');

    snippet.addElem(new Elem('tables', {
        table: {
            range: 6,
            rows: tableRows,
        }
    }, {
        setTableRows: (ev, me) => {
            let newRange = ev.target.value;
            let newRows = tableRows.slice(0, newRange);
            me.set('table.range', newRange);
            me.set('table.rows', newRows);
        }
    }));
    snippet.run();
</script>